.gallery img{
    width: 100%;
}
h2{
    font-family: Impact, fantasy;
    font-size: 40px;
    text-align: center;
    font-style: italic;
    color: cornflowerblue
}
h4{
    font-family: Impact, fantasy;
    font-size: 20px;
    font-style: italic;
    color: cornflowerblue;
}
p{
    font-family: Helvetica, sans-serif;
}
#menu{
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    padding-top: 15px;
}
#menu a{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800px;
    
    padding-left: 20px;
    padding-right: 20px;
}
#menu a:hover{
    color: red;
}
body{
    background-color: dimgrey;
}